[submodule "lsfg-vk-android"]
	path = lsfg-vk-android
	url = https://github.com/w9764994W/lsfg-vk-android.git
	branch = release
[submodule "LSFG-Android-Application"]
	path = LSFG-Android-Application
	url = https://github.com/FrankBarretta/LSFG-Android-Application.git
